@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
body{
  background: linear-gradient(to left top, #548fd8, rgb(155, 12, 48));
  color: white;
}

.navbar {
  position: fixed;
  z-index: 100;
  padding: 17px 0;
  width: 100%;
  background-color: crimson;
}
.max-width {
  width: 1300px;
  margin: auto;
}
.navbar .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
ul li {
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
}
.navbar ul li a {
  position: relative;
  margin-left: 25px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.navbar ul li a::after {
  content: "";
  background-color: #003580;
  height: 6px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li a:hover::after {
  width: 100%;
}

.about {
  /* background: url(https://images.unsplash.com/photo-1614849286521-4c58b2f0ff15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbG9yZnVsJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
  height: 100vh;
  width: 100%;
  /* color: white; */
  /* position: absolute; */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */ 
}
/* about container start */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.about-container img {
  height: 600px;
  border-radius: 60px 0;
  margin: 10%;
  box-shadow: 10px 10px 5px rgba(255, 0, 0, 0.6);
}
.about-container img:hover {
  transform:translateX(-15%);
  transition: .5s;
}

.welcome-text {
  width: 50%;
}
.welcome-text h1 {
  font-size: 40px;
}
.text-wrap h1 {
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 1.8px #000;
}
.text-wrap h1:hover {
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 0;
}
.para p {
  color: white;
  font-size: 18px;
  word-spacing: 3px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.download-resume button {
  position: relative;
  margin: 20px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #19427a;
  border-radius: 25px;
  border: none;
  transition: 0.6s;
}
.download-resume button a {
  text-decoration: none;
  color: white;
  z-index: 999;
}
.download-resume button a i {
  margin-left: 8px;
  font-size: 22px;
}
.download-resume button:hover {
  background-color: rgb(234, 37, 37);
  transition: 0.3s;
}
.download-resume button a:hover {
  text-decoration: none;
  color: black;
}
