.contact{
    height:100vh;
    width: 100%;
    /* background-color: aliceblue; */
    /* max-width: 1115px;*/
    text-align: center; 
    overflow: hidden;
    
}
.contact h1{
    position: relative;
    font-size: 55px;
    letter-spacing: 2px;
}
.contact h1::before{
    content: "";
    position: absolute;
    bottom: 35%;
    left: 30%;
    height: 5px;
    width: 7%;
    background-color: crimson;

}
.contact h1::after{
    content: "";
    position: absolute;
    bottom: 35%;
    right: 30%;
    height: 5px;
    width: 7%;
    background-color: crimson;

}
.contact-section{
    height: 90%;
    width: 90%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
    /* margin-left: 5%; */
    /* gap: 20px; */

}
.contact-wrapper{
width: 100%;
height: 80%;
/* background-color: blue; */
margin-left: 20%;

/* display: flex;
justify-content: space-between;
flex-wrap: wrap; */

}

.contact-wrapper input{
   display: block;
    padding: 15px;
    width: 100%;
    border: none;
    margin-bottom: 15px;
    border-radius:10px ;
}
.contact-wrapper textarea{
    display: block;
    padding: 15px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-radius:10px ;
}
.contact-wrapper button{
    padding: 13px 20px;
    background-color: #1f60bc;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}
