footer{
    border: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}
.footer-wrapper{
    padding-top: 15px;
    margin-top: 5%;
}
.logo{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
 }
 .desc{
    text-align: center;
 }
 .desc a{
    text-decoration: none;
    color: white;
 }
 footer i{
    font-size: 40px;
}

footer .fa-linkedin{
    color: #0A66C2;
}
footer .fa-facebook{
    color: #0E8EF2;

}
footer .fa-instagram{
    color: #EE4C4C;
 
}
footer .fa-github{
    color: black;

}